<div class="row col">

    <footer class="site-footer">

        <div>

            <h2 class="footer-heading">{{ site.title }}</h2>

            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li>Petrovická 60</li>
                        <li>Krnov 79401</li>
                        <li>IČO: 76529819</li>
                        <li>E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    </ul>
                </div>

                <div class="footer-col footer-col-2">
                    <ul class="social-media-list">
                        {% if site.github_username %}
                        <li>
                            {% include icon-github.html username=site.github_username %}
                        </li>
                        {% endif %}

                        {% if site.twitter_username %}
                        <li>
                            {% include icon-twitter.html username=site.twitter_username %}
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="footer-col footer-col-3">
                    <p>
                        {{ site.description }}<br>
                        Odebírejte <a href="{{ "/feed.xml" | prepend:site.baseurl }}">RSS Feed</a>
                    </p>
                </div>
            </div>

        </div>

    </footer>

</div>
<div>&nbsp;</div>
